body{
    padding: 15px;
    background-image: linear-gradient(to right,bisque,white);
}

fieldset{
    border: 3px solid rgb(12, 12, 36);
    border-radius: 8px;
}

.container {        /* Container que engloba todo o form */
    position: absolute; 
    
    color: white;
    background-color: rgba(30, 88, 150, 0.822);

    padding: 10px;
    border-radius: 15px;

}

.inputDiv {         /* Div's que englobam os inputs e label's */
    position: relative;

    border: 3px solid rgb(12, 12, 36);
    border-radius: 4px;
    padding: 5px;
}

.inputDiv:focus::placeholder {      /* Não Funcionou */
    color: transparent;
}



.inputGeral {
    background: none;

    border: none;
    border-bottom: 1px solid white;
    outline: none;

    color: white;
    letter-spacing: 1.2px;

    position: relative;
}

.inputGeral::placeholder {
    color: rgba(255, 255, 255, 0.452);
}


select {

    background: white;
    border: none;

}


#titulo {
    text-align: center;
    font-size: 25px;

    position: static;

    padding: 10px;
    border: 3px solid rgb(12, 12, 36);
    border-radius: 8px;
}

#btnEnviar{
    background: wheat;

    width: 100%;
    padding: 15px;

    cursor: pointer;
    border-radius: 5px;
}

#btnEnviar:hover{
    background: rgb(240, 203, 136);
}
